parameters:
    level: max
    fileExtensions:
        - php
    paths:
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/tests/
    excludes_analyse:
        - %currentWorkingDirectory%/.phpstorm.meta.php
        - %currentWorkingDirectory%/vendor/*

    ignoreErrors:
        - '#Fetching class constant class of deprecated class Http\\Discovery\\MessageFactoryDiscovery.*#'
        - '#Http\\Adapter\\Guzzle5\\Client not found\.$#'
        - '#^Method TMV\\HTTPlugModule\\ClientFactory\\Guzzle5Factory::createClient\(\) should return Http\\Client\\HttpClient but returns Http\\Adapter\\Guzzle5\\Client\.$#'
        - '#^Parameter \#1 \$expected of method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) expects class-string\<Http\\Adapter\\Guzzle5\\Client\>, string given\.$#'
